/* .logo {
    justify-items: center;
} */
.flex-layout {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.logo {
    width: 50px;
    height: 50px;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
    padding: 1rem;
    padding-inline: 2rem;
    align-items: center;
}
.primary-navigation {
    display: flex;
    gap: 2rem;;
    list-style: none;
    border-width: 1rem;
    border-bottom: 1rem;
    border-color: black;

}

main {
    background-color: rgb(255, 255, 255);
}

body {
    margin: 0;
}

footer {
    background-color: lightcoral;
    padding: 1rem;
    position:fixed;
    width: 100%;
    bottom: 0;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    stroke-width: 1rem;
    background-color: lightcoral;
    margin: 2rem;
    padding: 1rem;
}

.nav-link {
    text-decoration: none;
    color: white;
}

img {
    width: 85%;
}

.main-title {
    grid-column: span 2;
    text-align: center;
}






/* .flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
    
}

.flexbox-item-1 {
    min-height: 100px;
}

.flexbox-item-2 {
    min-height: 200px;
}

.flexbox-item-3 {
    min-height: 300px;
} */