img{
    margin-bottom: 1rem;
}



.logo {
    background-color: cyan;
    color: rgb(12, 12, 121);
    width: 200px;
    height: 200px;
    border-radius: 1.5rem;
    display: inline-block;
}


.logo {
    display: block;
    object-fit: cover;
    font-style: italic;
    color: gray;
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 1.5rem;
}

.inline-image {
    display: block;
    object-fit: cover;

    font-style: italic;
    color: gray;
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 1.5rem;
}

.default-image {
    display: block;
    object-fit: cover;

    font-style: italic;
    color: gray;
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 1.5rem;
}

section {
    padding-inline: 1rem;
    display: flexbox;
    gap: 2rem;
}
/* Inline style har högre prioritet än extern */